<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Covid Essentials</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="/create"><span class="glyphicon glyphicon-tag"></span> Create Need</a></li>
                <li><a href="/needsat"><span class="glyphicon glyphicon-check"></span> Needs Satisfied</a></li>
                <li><a href="#count"><span class="glyphicon glyphicon-dashboard"></span> COVID-19 Count</a></li>
                <li><a href="/help"><span class="glyphicon glyphicon-facetime-video"></span> Assist</a></li>
                <li><a href="/about"><span class="glyphicon glyphicon-info-sign"></span> About us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/usermap"><span class="glyphicon glyphicon-globe"></span> Your Map</a></li>
                <li><a href="/post"><span class="glyphicon glyphicon-folder-close"></span> Your Need</a> </li>
                <li><a href="/delete"><span class="glyphicon glyphicon-trash"></span> Delete Need</a> </li>
            </ul>
        </div>

    </div>

</nav>