{% extends "layout.html" %}

{% block content %}
<div class="container" style="background-color: #262626; color: #ffffff; border-radius: 6px;">
    <h1><strong>About us</strong></h1>
    <h3>This website is considered in collecting information on the essentials what people need in urgence<br>
    when a pandemic arises. Now is the time were COVID-19 is rising to make a global crisis<br>
    so this pandemic may result in no supply of our daily essentials, which may be hard for<br>
    many people to go through. This web app takes info like <strong>What you need</strong><br>
    and displays to your locality with the need, phone number and location of yours to get<br>
    you some help on settling your essentials.<br><br>
    With Regards, developers of this Web-App<br><br>
    <span class="label label-primary"><span class="glyphicon glyphicon-ok-sign"></span><a href="https://www.linkedin.com/in/akashjfrost/" target="_blank" style="color: #ffffff;">Akash AJ</a></span> &nbsp;
    <span class="label label-primary"><span class="glyphicon glyphicon-ok-sign"></span><a href="https://www.linkedin.com/in/tayala-rajan/" target="_blank" style="color: #ffffff;">Tayalarajan T R</a></span></h3><br>
    <h3><strong>Join our Telegram channel to get live updates on needs posted</strong></h3>
    <a class="btn btn-social-icon btn-bitbucket text-center" href="https://t.me/covidessential" target="_blank">
        <span class="fa fa-telegram"></span>
    </a>
    <h3><strong>Follow us on Social Platforms</strong></h3>
      <div>
        <a class="btn btn-social-icon btn-facebook text-center" href="https://www.facebook.com/covidessentialhelp" target="_blank">
          <span class="fa fa-facebook"></span>
        </a> &nbsp;
        <a class="btn btn-social-icon btn-google text-center" href="https://www.instagram.com/covidessentialhelp/" target="_blank">
          <span class="fa fa-instagram"></span>
        </a> &nbsp;
        <a class="btn btn-social-icon btn-twitter text-center" href="https://twitter.com/CovidEssentials" target="_blank">
          <span class="fa fa-twitter"></span>
        </a>
      </div><br>
</div><br>

{% endblock %}