{% extends "layout.html" %}

{% block content %}
  
    <div class="posts">
        <div class="container">
            <div class="well well-lg" style="text-align: center;">
                <h2>Your needs have been successfully posted on the map. To view/delete your needs use the view button below.</h2>
                <h2 class="text-center text-uppercase"><span class="label label-default" style="background-color: #262626;"><a style="color: #ffffff; text-decoration: none;" href="/post">View needs</a></span></h2>
            </div>
        </div>
    </div>
{% endblock %}